body {
  margin: 0;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

ol, ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  border: none;
}

button:hover {
  cursor: pointer;
}

.body {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 14px;
}

h2 {
  color: #323232;
  font-weight: 700;
  font-size: 30px;
  line-height: 146%;
}

button {
  border-radius: 30px;
  background-color: #4985FF;
  color: #FFFFFF;
  font-weight: 500;
  padding: 14px 36px;
}

.conteiner {
  width: 1200px;
  margin: 0 auto;
  padding: 0 30px;
}
@media screen and (min-width: 480px) {
  .conteiner {
    width: 420px;
  }
}
@media screen and (min-width: 768px) {
  .conteiner {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .conteiner {
    width: 1200px;
  }
}

.header {
  width: 100vw;
  height: 65px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background-image: url(../hero-m-1x.jpg);
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
}

.header-div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header-list {
  display: none;
}

.container-menu {
  width: 35px;
  height: 23px;
}

.menu {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

.menu .link {
  padding: 10px;
  color: inherit;
  text-decoration: none;
}

.menu .link:hover,
.menu .link:focus {
  text-decoration: underline;
}

.menu-toggle {
  height: 23px;
  width: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}
.menu-toggle.menu-toggle:hover, .menu-toggle.menu-toggle:focus {
  color: #4985FF;
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  padding: 48px 40px;
  background-color: #FFFFFF;
  z-index: 2;
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-toggle {
  position: absolute;
  top: 20px;
  right: 25px;
  fill: white;
}

.mobile-menu {
  padding: 0;
  margin: 0;
  list-style: none;
  margin-bottom: 40%;
  gap: 32px;
}

@media screen and (min-width: 768px) {
  .container-menu {
    display: none;
  }
  .header {
    background-image: url(../images/hero-t-1x.png);
    height: 80px;
  }
  .header-list {
    display: flex;
    gap: 30px;
  }
  .header-link {
    font-weight: 500;
    color: #FFFFFF;
    position: relative;
    padding-bottom: 32px;
  }
  .header-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4px;
    background-color: #FFFFFF;
    transform: scaleX(0);
    transition-property: transform;
    transition-duration: 500ms;
    transition-timing-function: Fast Out, Linear In;
  }
  .header-link.active::after {
    transform: scaleX(1);
  }
  .header-link:hover::after {
    transform: scaleX(1);
  }
}
@media screen and (min-width: 1200px) {
  .header {
    background-color: pink;
    border-bottom: 1px solid #a1a1a1;
    height: 100px;
    background-image: url(../images/hero-d-1x.png);
    background-position: center top;
    background-repeat: no-repeat;
  }
  .container-menu {
    display: none;
  }
  .header-list {
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 40px;
  }
  .header-link {
    padding-bottom: 42px;
  }
}
.hero {
  background-color: grey;
  padding-top: 219px;
  padding-bottom: 335px;
  background-image: url(../hero-m-1x.jpg);
  background-position: center 0;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
}

.hero-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-text {
  font-weight: 500;
  color: #FFFFFF;
  margin-bottom: 12px;
}

.hero-title {
  font-weight: 800;
  font-size: 24px;
  line-height: 134%;
  color: #FFFFFF;
  text-align: center;
  width: 320px;
  margin-bottom: 50px;
}

.hero-button {
  border-radius: 30px;
  background-color: #4985FF;
  color: #FFFFFF;
  font-weight: 500;
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: url(../images/hero-t-1x.png);
  }
  .hero-text {
    font-weight: 500;
    color: #FFFFFF;
    margin-bottom: 12px;
  }
  .hero-title {
    font-weight: 800;
    font-size: 25px;
    line-height: 134%;
    color: #FFFFFF;
    text-align: center;
    width: 340px;
    margin-bottom: 50px;
  }
  .hero-button {
    border-radius: 30px;
    width: 200px;
    height: 45px;
    background-color: #4985FF;
    color: #FFFFFF;
    font-weight: 500;
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    background-color: grey;
    padding-top: 219px;
    padding-bottom: 335px;
    background-image: url(../images/hero-d-1x.png);
    background-position: center 0;
    background-repeat: no-repeat;
  }
  .hero-div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .hero-text {
    font-weight: 500;
    color: #FFFFFF;
    margin-bottom: 20px;
  }
  .hero-title {
    font-weight: 800;
    font-size: 48px;
    line-height: 134%;
    color: #FFFFFF;
    text-align: center;
    width: 829px;
    margin-bottom: 50px;
  }
  .hero-button {
    border-radius: 30px;
    width: 200px;
    height: 45px;
    background-color: #4985FF;
    color: #FFFFFF;
    font-weight: 500;
  }
}
.section-two {
  display: none;
}

@media screen and (min-width: 768px) {
  .section-two {
    display: block;
  }
  .div-two {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.section-three {
  padding: 31px 0;
}

.title-three {
  color: #323232;
  font-weight: 700;
  font-size: 30px;
  line-height: 146%;
  margin-bottom: 39px;
}

.text-three {
  line-height: 158%;
  color: #999;
  margin-bottom: 39px;
}

.link-three {
  display: block;
  color: #4985FF;
  font-weight: 500;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  margin-bottom: 32px;
}

.image-three {
  width: 100%;
  height: 100%;
  border-bottom: 1px #e0e0e0 solid;
  padding-bottom: 24px;
  margin-bottom: 24px;
}

.list-three {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 54px;
}

.number {
  color: #000;
  font-weight: 400;
  font-size: 36px;
  line-height: 146%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}
.number::before {
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  background-image: url(../svg/html.svg);
}

.text-three-small {
  text-align: center;
  line-height: 158%;
}

.section-four {
  padding-top: 46px;
  padding-bottom: 76px;
  background: linear-gradient(to bottom, #504DC2 50%, #fff 50%);
}

.title-four {
  color: #FFFFFF;
  margin-bottom: 33px;
}

.button-four {
  margin-bottom: 64px;
}

.img-four {
  border-radius: 10px;
  margin-bottom: 30px;
}

.title-four-small {
  color: black;
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 30px;
}

.number-four {
  color: #4985FF;
}

.text-four {
  color: #999999;
  width: 420px;
  margin-bottom: 47px;
}

.link-four {
  display: block;
  color: #4985FF;
  font-weight: 500;
  text-decoration: underline;
  text-decoration-skip-ink: none;
}

.section-five {
  background-color: #F6F6F8;
}

.div-six {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title-five {
  margin-right: 18px;
}

.text-five {
  text-align: center;
  color: #999999;
  margin-bottom: 33px;
}/*# sourceMappingURL=main.css.map */