body {
  margin: 0;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

ol, ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img, picture {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  border: none;
}

button:hover {
  cursor: pointer;
}

.body {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 14px;
}

h2 {
  color: #323232;
  font-weight: 700;
  font-size: 30px;
  line-height: 146%;
}

button {
  border-radius: 30px;
  background-color: #4985FF;
  color: #FFFFFF;
  font-weight: 500;
  padding: 14px 36px;
}

p {
  font-weight: 400;
  font-size: 14px;
  line-height: 158%;
  color: #999999;
}

picture {
  background-color: 0;
  border-radius: 10px;
}

@media (min-width: 320px) and (max-width: 479px) {
  .conteiner {
    width: 78vw !important;
  }
}
.conteiner {
  width: 1200px;
  margin: 0 auto;
  padding: 0 30px;
}
@media screen and (min-width: 480px) {
  .conteiner {
    width: 420px;
  }
}
@media screen and (min-width: 768px) {
  .conteiner {
    width: 708px;
  }
}
@media screen and (min-width: 1200px) {
  .conteiner {
    width: 1140px;
  }
}

.header {
  width: 100%;
  height: 65px;
  display: flex;
  align-items: center;
  border-bottom: 1px #A1A1A1 solid;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background-image: url(../pack/hero-1x-m.jpg);
  background-position: center 0;
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
}

.header-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
}

.header-list {
  display: none;
}

.container-menu {
  width: 35px;
  height: 23px;
}

.menu {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

.menu .link {
  padding: 10px;
  color: inherit;
  text-decoration: none;
}

.menu .link:hover,
.menu .link:focus {
  text-decoration: underline;
}

.menu-toggle {
  height: 23px;
  width: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}
.menu-toggle.menu-toggle:hover, .menu-toggle.menu-toggle:focus {
  color: #4985FF;
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #FFFFFF;
  z-index: 2;
  padding: 20px;
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-toggle {
  position: absolute;
  top: 20px;
  right: 25px;
  color: black;
  margin-right: 30px;
}

.mobile-menu {
  padding: 0;
  margin: 0;
  list-style: none;
  margin-bottom: 40%;
  gap: 32px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.link {
  font-weight: 800;
  font-size: 34px;
  line-height: 134%;
  color: #999999;
  transition-property: color;
  transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 100ms;
}
.link:hover {
  color: #4985FF;
}

.active {
  color: #4985FF;
}

@media screen and (min-width: 768px) {
  .container-menu {
    display: none;
  }
  .header {
    background-image: url(../pack/hero-1x-d.jpg);
    height: 80px;
  }
  .header-list {
    display: flex;
    gap: 30px;
  }
  .header-link {
    font-weight: 500;
    color: #FFFFFF;
    position: relative;
    padding-bottom: 32px;
  }
  .header-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4px;
    background-color: #FFFFFF;
    transform: scaleX(0);
    transition-property: transform;
    transition-duration: 500ms;
    transition-timing-function: Fast Out, Linear In;
  }
  .header-link.active::after {
    transform: scaleX(1);
  }
  .header-link:hover::after {
    transform: scaleX(1);
  }
}
@media screen and (min-width: 1200px) {
  .header {
    background-color: pink;
    border-bottom: 1px solid #a1a1a1;
    height: 100px;
    background-image: url(../pack/hero-1x-d.jpg);
    background-position: center top;
    background-repeat: no-repeat;
  }
  .container-menu {
    display: none;
  }
  .header-list {
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 40px;
  }
  .header-link {
    padding-bottom: 42px;
  }
}
.hero {
  padding-top: 103px;
  padding-bottom: 125px;
  background-image: url(../pack/hero-1x-m.jpg);
  background-position: center 0;
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
}

.hero-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-text {
  font-weight: 500;
  color: #FFFFFF;
  margin-bottom: 12px;
}

.hero-title {
  font-weight: 800;
  font-size: 24px;
  line-height: 134%;
  color: #FFFFFF;
  text-align: center;
  width: 320px;
  margin-bottom: 50px;
}

.hero-button {
  border-radius: 30px;
  background-color: #4985FF;
  color: #FFFFFF;
  font-weight: 500;
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: url(../pack/hero-1x-d.jpg);
  }
  .hero-text {
    font-weight: 500;
    color: #FFFFFF;
    margin-bottom: 12px;
  }
  .hero-title {
    font-weight: 800;
    font-size: 25px;
    line-height: 134%;
    color: #FFFFFF;
    text-align: center;
    width: 340px;
    margin-bottom: 50px;
  }
  .hero-button {
    border-radius: 30px;
    width: 200px;
    height: 45px;
    background-color: #4985FF;
    color: #FFFFFF;
    font-weight: 500;
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 219px;
    padding-bottom: 335px;
    background-image: url(../pack/hero-1x-d.jpg);
    background-position: center 0;
    background-repeat: no-repeat;
  }
  .hero-div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .hero-text {
    font-weight: 500;
    color: #FFFFFF;
    margin-bottom: 20px;
  }
  .hero-title {
    font-weight: 800;
    font-size: 48px;
    line-height: 134%;
    color: #FFFFFF;
    text-align: center;
    width: 829px;
    margin-bottom: 50px;
  }
  .hero-button {
    border-radius: 30px;
    width: 200px;
    height: 45px;
    background-color: #4985FF;
    color: #FFFFFF;
    font-weight: 500;
  }
}
.section-two {
  display: none;
}

@media screen and (min-width: 768px) {
  .section-two {
    display: block;
    padding: 110px 0;
  }
  .div-two {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .list-two {
    display: flex;
    align-items: center;
    margin-bottom: 55px;
  }
}
@media screen and (min-width: 768px) and (min-width: 768px) and (max-width: 999px) {
  .item-two:nth-child(n+2) {
    display: none;
  }
}
@media screen and (min-width: 768px) and (min-width: 1000px) and (max-width: 1199px) {
  .item-two:nth-child(n+3) {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .item-two {
    max-width: 353px;
    height: 139px;
    display: flex;
    gap: 18px;
  }
  .item-two::before {
    content: "";
    display: flex;
    width: 40px;
    max-width: 20px;
    height: 40px;
    max-height: 20px;
    background-image: url(../svg/html.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
    border-radius: 100%;
    border: 1px solid #4985FF;
    padding: 25px;
    justify-content: start;
  }
  .title-two {
    text-align: center;
    margin-bottom: 32px;
  }
  .text-two {
    max-width: 730px;
    line-height: 158%;
    text-align: center;
    color: #999999;
    margin-bottom: 70px;
  }
  .div-text {
    display: flex;
    flex-direction: column;
    justify-content: end;
  }
  .title-two-small {
    font-weight: 600;
    font-size: 18px;
    color: #000;
  }
  .text-two-small {
    width: 100%;
    line-height: 158%;
    color: #999999;
  }
}
.section-three {
  padding: 31px 0;
  background: #F6F6F8;
}

.title-three {
  color: #323232;
  font-weight: 700;
  font-size: 30px;
  line-height: 146%;
  margin-bottom: 39px;
  text-align: center;
}

.text-three {
  line-height: 158%;
  color: #999;
  margin-bottom: 39px;
  text-align: center;
}

.link-three {
  display: block;
  color: #4985FF;
  font-weight: 500;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  margin-bottom: 32px;
  text-align: center;
}

.image-three {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.list-three {
  margin: 0 auto;
  gap: 50px;
  margin-top: 24px;
  padding-top: 20px;
  max-width: 366px;
  border-top: 1px #e0e0e0 solid;
}

.list-three {
  display: flex;
  align-items: center;
  justify-content: center;
}

.item-three:nth-child(n+4) {
  display: none;
}

@media (min-width: 320px) and (max-width: 479px) {
  .item-three:nth-child(n+3) {
    display: none;
  }
}
.number {
  color: #000;
  font-weight: 400;
  font-size: 36px;
  line-height: 146%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}
.number::before {
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  background-image: url(../svg/html.svg);
}

.text-three-small {
  text-align: center;
  line-height: 158%;
}

@media screen and (min-width: 768px) {
  .section-three {
    padding-top: 170px;
    padding-bottom: 70px;
  }
  .div-text-three {
    padding-bottom: 143px;
    border-bottom: 1px #e0e0e0 solid;
  }
  .div-three {
    position: relative;
  }
  .list-three {
    max-width: 866px;
    border: none;
  }
  .image-three {
    max-width: 500px;
    max-height: 400px;
    position: absolute;
    top: -70px;
    right: 0;
    display: flex;
    justify-content: right;
  }
  .item-three:nth-child(n+4) {
    display: block;
  }
  .title-three {
    max-width: 350px;
    text-align: start;
  }
  .text-three {
    max-width: 370px;
    text-align: start;
  }
  .link-three {
    text-align: start;
  }
  .div-three > picture {
    width: 345px;
    height: 270px;
  }
}
@media screen and (min-width: 1200px) {
  .div-three > picture {
    width: 500px;
    height: 400px;
  }
}
.section-four {
  padding-top: 46px;
  padding-bottom: 76px;
  background: linear-gradient(to bottom, #504DC2 50%, #fff 50%);
}

.title-four {
  color: #FFFFFF;
  margin-bottom: 33px;
}

.button-four {
  margin-bottom: 64px;
}

.list-four {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  max-width: 1110px;
}

.item-four:nth-child(n+2) {
  display: none;
}

.title-four-small {
  color: black;
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 30px;
  margin-top: 30px;
}

.number-four {
  color: #4985FF;
}

.text-four {
  color: #999999;
  width: 420px;
  margin-bottom: 47px;
  max-width: 320px;
  width: 80vw;
}

.link-four {
  display: block;
  color: #4985FF;
  font-weight: 500;
  text-decoration: underline;
  text-decoration-skip-ink: none;
}

@media screen and (min-width: 768px) {
  .title-four {
    font-weight: 700;
    font-size: 36px;
    line-height: 146%;
  }
  .list-four {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .item-four {
    width: 350px;
  }
  .item-four:nth-child(n+3) {
    display: block;
  }
  .button-four {
    display: flex;
    justify-content: right;
  }
  .text-four {
    width: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .div-four {
    position: relative;
  }
  .item-four:nth-child(n+2) {
    display: block;
  }
  .title-four {
    max-width: 520px;
    margin-bottom: 70px;
  }
  .button-four {
    position: absolute;
    top: 0;
    right: 30px;
    margin-bottom: 0;
  }
}
.section-five {
  background-color: #F6F6F8;
  padding: 58px 0;
  background-size: cover;
}

.div-five {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title-five {
  margin-bottom: 18px;
  text-align: center;
}

.text-five {
  text-align: center;
  color: #999999;
  margin-bottom: 33px;
  max-width: 730px;
}

.list-five {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-bottom: 55px;
}

.item-five {
  display: flex;
  width: 276px;
  height: 230px;
}

@media screen and (min-width: 768px) {
  .list-five {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 30px;
  }
  .item-five {
    display: flex;
    width: 255px;
    height: 255px;
  }
}
@media screen and (min-width: 1200px) {
  .list-five {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}
.section-six {
  padding: 70px 0;
}

.title-six {
  font-weight: 600;
  font-size: 18px;
  text-align: center;
  color: gtColor("darknes");
  margin-bottom: 36px;
}

.text-six, .text-six-one {
  line-height: 158%;
  text-align: center;
  color: #999999;
}

.text-six-one {
  margin-bottom: 42px;
}

.form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.input {
  width: 257px;
  height: 49px;
  border-radius: 30px 0 0 30px;
  border: none;
  box-shadow: 0 0 10px 0 rgba(111, 111, 111, 0.25);
  margin-bottom: 30px;
  text-align: center;
}
@media (min-width: 320px) and (max-width: 479px) {
  .input {
    width: 50vw;
  }
}

.button-six {
  width: 163px;
  height: 49px;
  border-radius: 0 30px 30px 0;
  height: 50px;
  box-shadow: 0 0 10px 0 rgba(111, 111, 111, 0.25);
  margin-bottom: 30px;
  padding-left: 10px;
}
@media (min-width: 320px) and (max-width: 479px) {
  .button-six {
    width: 30vw;
  }
}

@media screen and (min-width: 768px) {
  .input, .button-six {
    text-align: start;
  }
  .input {
    padding-left: 15px;
  }
  .button-six {
    padding-left: 40px;
  }
}
.footer {
  padding-top: 32px;
  padding-bottom: 80px;
  background-color: #F6F6F8;
  position: relative;
}

.div-footer {
  display: flex;
  flex-direction: column;
  gap: 50px;
  border-bottom: 1px solid #E0E0E0;
  padding-bottom: 68px;
}

.div-footer-two,
.div-footer-four {
  margin-left: auto;
  width: 240px;
}

.title-footer {
  font-weight: 600;
  font-size: 18px;
  color: #000;
  width: 242px;
  margin-bottom: 35px;
}

.list-footer {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 240px;
}

.link-footer, .link-social {
  line-height: 158%;
  color: #999999;
  display: flex;
  align-items: center;
  gap: 10px;
  transition-property: color, transform, background-image;
  transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 100ms;
}

.link-footer:hover, .link-social:hover {
  color: #4985FF;
}

.one::before,
.two::before,
.three::before {
  transition: background-image 500ms cubic-bezier(0.4, 0, 0.2, 1), opacity 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.one::before {
  content: "";
  display: block;
  width: 15px;
  height: 12px;
  background-image: url(../svg/gmail.svg);
}

.one:hover:before {
  background-image: url(../svg/gmail-blue.svg);
}

.two::before {
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  background-image: url(../svg/phone.svg);
}

.two:hover:before {
  background-image: url(../svg/phone-blue.svg);
}

.three::before {
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  background-image: url(../svg/map.svg);
}

.three:hover:before {
  background-image: url(../svg/map-blue.svg);
}

.link-footer::before {
  content: "";
  display: block;
  width: 5px;
  height: 9px;
  background-image: url(../svg/open.svg);
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1), background-image 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-footer:hover:before {
  content: "";
  display: block;
  width: 5px;
  height: 9px;
  background-image: url(../svg/open-blue.svg);
  background-repeat: no-repeat;
  transform: rotate(90deg);
}

.text-footer {
  text-align: center;
  position: absolute;
  bottom: 33px;
  left: 0;
  right: 0;
}

@media screen and (min-width: 768px) {
  .div-footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    max-width: 768px;
    grid-gap: 30px;
  }
  .div-footer-two,
  .div-footer-four {
    margin: 0;
  }
  .div-footer-one {
    width: 255px;
  }
  .div-footer-two {
    width: 200px;
  }
  .div-footer-three {
    width: 180px;
  }
  .div-footer-four {
    width: 180px;
  }
}
@media screen and (min-width: 1200px) {
  .div-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1200px;
    gap: 0;
  }
}/*# sourceMappingURL=main.css.map */