.hero{
    background-color: grey;
    padding-top: 103px;
    padding-bottom: 125px;
    background-image: url(../pack/hero-1x-m.jpg);
    background-position: center 0;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
}
.hero-div{
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (min-width: 320px) and (max-width: 479px) {
      width: 90vw;
    }
}
.hero-text{
    font-weight: 500;
    color: getColor('light');
    margin-bottom: 12px;
}
.hero-title{
    font-weight: 800;
    font-size: 24px;
    line-height: 134%;
    color: getColor('light');
    text-align: center;
    width: 320px;
    margin-bottom: 50px;
}
.hero-button{
    border-radius: 30px;
    background-color: getColor('main');
    color: getColor('light');
    font-weight: 500;
}

@media screen and (min-width: getBreakPoint('tablet')) {
    .hero{
        background-image: url(../pack/hero-1x-d.jpg);
    }
    .hero-text{
        font-weight: 500;
        color: getColor('light');
        margin-bottom: 12px;
    }
    .hero-title{
        font-weight: 800;
        font-size: 25px;
        line-height: 134%;
        color: getColor('light');
        text-align: center;
        width: 340px;
        margin-bottom: 50px;
    }
    .hero-button{
        border-radius: 30px;
        width: 200px;
        height: 45px;
        background-color: getColor('main');
        color: getColor('light');
        font-weight: 500;
    }
}

@media screen and (min-width: getBreakPoint('desktop')) {
    .hero{
        background-color: grey;
        padding-top: 219px;
        padding-bottom: 335px;
        background-image: url(../pack/hero-1x-d.jpg);
        background-position: center 0;
        background-repeat: no-repeat;
    }
    .hero-div{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .hero-text{
        font-weight: 500;
        color: getColor('light');
        margin-bottom: 20px;
    }
    .hero-title{
        font-weight: 800;
        font-size: 48px;
        line-height: 134%;
        color: getColor('light');
        text-align: center;
        width: 829px;
        margin-bottom: 50px;
    }
    .hero-button{
        border-radius: 30px;
        width: 200px;
        height: 45px;
        background-color: getColor('main');
        color: getColor('light');
        font-weight: 500;
    }
}