.section-three{
    padding: 31px 0;
}
.title-three{
    color: #323232;
    font-weight: 700;
    font-size: 30px;
    line-height: 146%;
    margin-bottom: 39px;
}
.text-three{
    line-height: 158%;
    color: #999;
    margin-bottom: 39px;
}
.link-three{
    display: block;
    color: #4985FF;
    font-weight: 500;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    margin-bottom: 32px;
}
.image-three{
    width: 100%;
    height: 100%;
    border-bottom: 1px #e0e0e0 solid;
    padding-bottom: 24px;
    margin-bottom: 24px;
}
.list-three{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 54px;
}
.number{
    color: #000;
    font-weight: 400;
    font-size: 36px;
    line-height: 146%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;

    &::before{
        content: '';
        display: block;
        width: 30px;
        height: 30px;
        background-image: url(../svg/html.svg);
    }
}
.text-three-small{
    text-align: center;
    line-height: 158%;
}