.section-four{
    padding-top: 46px;
    padding-bottom: 76px;
    background: linear-gradient(to bottom, #504DC2 50%, #fff 50%);
}
.title-four{
    color: getColor('light');
    margin-bottom: 33px;
}
.button-four{
    margin-bottom: 64px;
}
.list-four{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.item-four:nth-child(n+2){
    display: none;
}
.title-four-small{
    color: black;
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 30px;
    margin-top: 30px;
}
.number-four{
    color: getColor('main');
}
.text-four{
    color: getColor('text');
    width: 420px;
    margin-bottom: 47px;
    max-width: 320px;
    width: 80vw;
}
.link-four{
    display: block;
    color: #4985FF;
    font-weight: 500;
    text-decoration: underline;
    text-decoration-skip-ink: none;
}
@media screen and (min-width: getBreakPoint('tablet')) {
    .title-four{
        font-weight: 700;
        font-size: 36px;
        line-height: 146%;
    }
    .list-four{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    .item-four{
        width: 350px;
    }
    .item-four:nth-child(n+3){
        display: block;
    }
    .button-four{
        display: flex;
        justify-content: right;
    }
    .text-four{
        width: 100%;
    }
}
@media screen and (min-width: getBreakPoint('desktop')) {
    .div-four{
        position: relative;
    }
    .item-four:nth-child(n+2){
        display: block;
    }
    .title-four{
        max-width: 520px;
        margin-bottom: 70px;
    }
    .button-four{
        position: absolute;
        top: 0;
        right: 30px;
        margin-bottom: 0;
    }
}