.section-five{
    background-color: #F6F6F8;
}
.div-six{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title-five{
    margin-right: 18px;
}
.text-five{
    text-align: center;
    color: getColor('text');
    margin-bottom: 33px;
}