.section-five{
    background-color: #F6F6F8;
    padding: 58px 0;
    background-size: cover;

    @media (min-width: 320px) and (max-width: 479px) {
      width: 100vw;
    }
}
.div-five{
    @media (min-width: 320px) and (max-width: 479px) {
      width: 90vw;
    }
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title-five{
    margin-bottom: 18px;
    text-align: center;
}
.text-five{
    text-align: center;
    color: getColor('text');
    margin-bottom: 33px;
    max-width: 730px;
}
.list-five{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 55px;
}
.item-five{
    display: flex;
    width: 276px;
    height: 230px;
}
@media screen and (min-width: getBreakPoint('tablet')) {
    .list-five{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        gap: 30px;
    }
    .item-five{
        display: flex;
        width: 255px;
        height: 255px;
    }
}